numpy

pandas



langchain

langchain-community


python-dotenv

tensorflow-cpu==2.20.0

keras==3.8.0
# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai
joblib
scikit-learn
# Environment Variable Management
python-dotenv


# for API
fastapi 
uvicorn